# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle
.gradle
gradle-app.setting

# OS
.DS_Store
Thumbs.db

# Build
*.apk
*.aar
*.ap_
*.aab
output.json

# Keystore
*.jks
*.keystore

# Others
*.log
*.orig
original_source/
archive_old/
